<header>
    <div class="logo"></div>
    <nav>
        <ul>
            <li>
                <a href="#">ABOUT US</a>
            </li>
            <li>
                <a href="#">SERVICE</a>
            </li>
            <li>
                <a href="#">WORKS</a>
            </li>
            <li>
                <a href="#">FLOW</a>
            </li>
            <li>
                <a href="#">PRICE</a>
            </li>
            <li>
                <a href="#">COMPANY</a>
            </li>
            <li>
                <a href="#" class="button bright">TEXT</a>
            </li>
        </ul>
    </nav>
</header>