<header>
    <div class="logo"></div>
    <nav>
        <ul>
            <li>
                <a href="#" title="#">ABOUT US</a>
            </li>
            <li>
                <a href="#" title="#">SERVICE</a>
            </li>
            <li>
                <a href="#" title="#">WORKS</a>
            </li>
            <li>
                <a href="#" title="#">FLOW</a>
            </li>
            <li>
                <a href="#" title="#">PRICE</a>
            </li>
            <li>
                <a href="#" title="#">COMPANY</a>
            </li>
            <li>
                <a href="#" title="#" class="button bright">TEXT</a>
            </li>
        </ul>
    </nav>
</header>