<div id="home">
    <div class="left">
        <h2>Business + Creativity = Success</h2>
        <p> 
            <!-- 
            For your business
            Bring results!
            WEB & design -->
            あなたのビジネスに<br />
            結果をもたらす！<br />
            WEB & デザイン
        </p>
    </div>
    <div class="image"></div>
</div>

<div id="news">
    <ul class="pagenav divider">
        <li>NEWS</li>
        <li>2021.01.10</li>
        <li>本文が入ります本文が入ります本文が入ります本文が入ります本文が入ります</li>
    </ul>
    <ul class="nav simple">
        <li class="prev">PREV</li>
        <li class="next">NEXT</li>
    </ul>
</div>

<div id="services">
    <h2>Service</h2>
    <h3>
        キレイなデザインは<br />
        当たり前のこと
    </h3>
    <p>
        WEB制作・ホームページ制作が得意なデザイン会社です。<br />
        デザインが良いのは当たり前、戦略的なWEB制作や作ってからの運用を大事にしています。
    </p>
    <ul id="basicServices" class="grid-6 minimal inline"> <!-- grid-6 must be compatible with IE11-->
        <li class="webDesign">
            <div class="icon"></div>
            <h4 class="title">ホームページ制作</h4>
        </li>
        <li class="operationalSupport">
            <div class="icon"></div>
            <h4 class="title">運用サポート</h4>
        </li>
        <li class="printMedia">
            <div class="icon"></div>
            <h4 class="title">印刷物媒体</h4>
        </li>
        <li class="logoDesign">
            <div class="icon"></div>
            <h4 class="title">ロゴデザイン</h4>
        </li>
        <li class="illustrationCharacter">
            <div class="icon"></div>
            <h4 class="title">イラストキャラクター</h4>
        </li>
        <li class="photography">
            <div class="icon"></div>
            <h4 class="title">写真撮影</h4>
        </li>
    </ul>
    <ul id="conclusion" class="minimal inline">
        <li>
            <div class="image"></div>
            <h3 class="title">ホームページ制作</h3>
            <p class="details">
                ホームページ等のウェブサイトをビジネスに活用することが当たり前となり、競合他社がひしめく現在のインターネット市場において、ウェブデザインは以前よりも重要性を増しています。
            </p>
        </li>
        <li>
            <div class="image"></div>
            <h3 class="title">更新・運用・サポート</h3>
            <p class="details">
                ホームページ開設後の保守・メンテナンス等をお手伝いさせて頂いております。 他社が制作したホームページのご相談もお待ちしております。
            </p>
        </li>
        <li>
            <div class="image"></div>
            <h3 class="title">グラフィック制作</h3>
            <p class="details">
                目的を達成し、成果を残す 本当の意味で高品質なデザインをアプローチの仕方や各印刷物媒体・ご予算などに応じて効果的なデザインをご提案します。
            </p>
        </li>
    </ul>
    <button class="button minimal center">TEXT</button>
</div>

<div id="works">
    <h2>Works</h2>
    <h3>
        お客さまの成功は<br />
        僕らの自慢です
    </h3>
    <p>
        ホームページ制作など、さまざまなお客様のネットビジネスのお手伝いをさせて頂いております<br />
        お客様とともに築いてきた実績、それが私たちの誇りです。
    </p>
    <ul class="carouselWrapper">
        <ul class="nav simple">
            <li class="prev">PREV</li>
            <li class="next">NEXT</li>
        </ul>
        <!-- With 4 items, just for testing -->
        <li>
            <div class="image"></div>
            <h3 class="title">EXAMPLE</h3>
        </li>
        <li>
            <div class="image"></div>
            <h3 class="title">EXAMPLE</h3>
        </li>
        <li>
            <div class="image"></div>
            <h3 class="title">EXAMPLE</h3>
        </li>
        <li>
            <div class="image"></div>
            <h3 class="title">EXAMPLE</h3>
        </li>
    </ul>
    <button class="button minimal center">TEXT</button>
</div>

<div id="aboutUs">
    <div class="image"></div>
    <div class="right">
        <h2>ABOUT US</h2>
        <h3>ファーストステップとは</h3>
        <p>
            テキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプル。
        </p>
        <button class="button minimal">私たちについてをみる</button>
    </div>
</div>

<div id="productionFee">
    <div class="left">
        <h2>Production Fee</h2>
        <h3>価格の魅力的な理由。</h3>
        <p>
            テキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプル。
        </p>
        <button class="button minimal">TEXT</button>
    </div>
    <div class="image"></div>
</div>

<div id="blog">
    <div class="image">
        <div class="left">
            <h2>Blog</h2>
            <h3>好きな話を記事にしています。</h3>
            <p>
                テキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプル。
            </p>
        </div>
        <div class="right">
            <button class="button minimal blue">ブログ一覧を見る</button>
        </div>
    </div>
    <!--  -->
    <ul class="carouselWrapper">
        <ul class="nav simple">
            <li class="prev">PREV</li>
            <li class="next">NEXT</li>
        </ul>
        <!-- With 4 items, just for testing -->
        <li>
            <h3 class="title">CATEGORY NAME</h3>
            <p class="details">
                ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
            </p>
        </li>
        <li>
            <h3 class="title">CATEGORY NAME</h3>
            <p class="details">
                ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
            </p>
        </li>
        <li>
            <h3 class="title">CATEGORY NAME</h3>
            <p class="details">
                ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
            </p>
        </li>
        <li>
            <h3 class="title">CATEGORY NAME</h3>
            <p class="details">
                ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
            </p>
        </li>
    </ul>
</div>

<div id="flow">
    <h2>Flow</h2>
    <h3>
        自分の今は楽しく<br />
        歩もう
    </h3>
    <p>
        あなたのビジネスや活動をヒアリングした上で、企画や情報設計をはじめ、<br />
        効果のあるユニバーサルデザイン、時代に合った品質の良いWebサイト制作いたします。
    </p>
    <ul id="basicServices" class="grid-5 minimal inline"> <!-- grid-5 must be compatible with IE11-->
        <li class="contactUs">
            <div class="icon"></div>
            <h4 class="title">01. お問い合わせ</h4>
        </li>
        <li class="meeting">
            <div class="icon"></div>
            <h4 class="title">02. お打ち合わせ</h4>
        </li>
        <li class="planning">
            <div class="icon"></div>
            <h4 class="title">03. 企画立案&見積</h4>
        </li>
        <li class="contract">
            <div class="icon"></div>
            <h4 class="title">04. ご契約</h4>
        </li>
        <li class="topDesign">
            <div class="icon"></div>
            <h4 class="title">05. トップデザイン</h4>
        </li>
        <li class="lowerPageProduction">
            <div class="icon"></div>
            <h4 class="title">06. 下層ページ制作</h4>
        </li>
        <li class="siteConstruction">
            <div class="icon"></div>
            <h4 class="title">07. サイト構築</h4>
        </li>
        <li class="testUp">
            <div class="icon"></div>
            <h4 class="title">08. テストアップ</h4>
        </li>
        <li class="siteRelease">
            <div class="icon"></div>
            <h4 class="title">09. サイト公開</h4>
        </li>
        <li class="use">
            <div class="icon"></div>
            <h4 class="title">10. 運用</h4>
        </li>
    </ul>
    <button class="button minimal center"></button>
</div>

<div id="qa">
    <ul class="minimal inline">
        <li>
            <div class="image">
                <h2>Voice</h2>
                <h3>お客様の声</h3>
            </div> <!-- pos: absolute -->
            <p>
                末永くお客様に信頼されるために感謝の気持ちを忘れずに、これからもみなさまの信頼に応えられる会社を目指します。
            </p>
            <a class="icon readMore center"></a>
        </li>
        <li>
            <div class="image">
                <h2>Q&A</h2>
                <h3>よくある質問</h3>
            </div> <!-- pos: absolute -->
            <p>
                お客様から寄せられたお問合せの一部とその回答を掲載しています。ご不明な点や、同じ不安を抱えていないかご確認ください。
            </p>
            <a class="icon readMore center"></a>
        </li>
    </ul>
</div>

<div id="contact">
    <div class="left">
        <h2>Contact</h2>
        <h3>
            伝えたいメッセージの<br />
            魅力を引き出すデザイン
        </h3>
    </div>
    <div class="right">
        <button class="button bright icon email">お問い合わせ・無料見積もり</button>
        <div class="left">
            <h4>お電話でのお問い合わせ</h4>
        </div>
        <div class="right">
            <p>
                <i class="icon telephone"></i>
                052-414-7327
            </p>
        </div>
        <p>※受付時間は9:00〜18:00　定休日は土日（年末年始を除く）</p>
    </div>
</div>