/* Buttons */
.button {
    /* min-width: 215px; */
    min-width: 80%;
    clear: both;
    padding: 20px;
    border: none; /* prevents border-bottom from some links */
    border: 1px solid var(--mainColor);
    display: block;
    font-family: noto-sans-cjk-jp, sans-serif;
    font-weight: 500;
    /* float: left; */
}
    .button.center {
        margin: 30px auto 30px auto !important;
    }
/* @media (min-width: 520px) {
    .button {
        min-width: 315px;
    }
} */
@media (min-width: 1024px) {
    .button {
        min-width: 390px;
        /* padding: 30px 20px 30px 20px; */
    }
}
.button {
    height: 60px;
    margin: 30px 0 30px 0;
    background: transparent;
    position: relative;
    color: var(--mainColor);
    /* z-index: 3; */
}
    main .button::after { /* this effect is only used in index.html >> <main> */
        width: 100%;
        height: 60px;
        position: absolute;
        display: block;
        content: "";
        bottom: -10px;
        left: 10px;
        /* margin: 15px 0 0 15px; */
        background: var(--paleColor);
        z-index: -1;
        transition: var(--animation-timing) ease-out;
    }
    main .button:hover::after { /* this effect is only used in index.html >> <main> */
        bottom: 0;
        left: 0;
    }
.button.slim {
    margin: 15px 0 15px 0;
}
.button.bright {
    background: var(--conversionColor);
    color: var(--bgColor);
    border: none;
}
.button.header {
    margin-top: -16px;
    text-align: center;
    border: none;
    /* margin-right: 17px; */
    display: inline-block;
    float: none;
    padding: 15px 30px 0 30px;
}
.button.blue {
    background: var(--mainColor);
    color: #fff;
}