<section id="blog">
    <div class="image">
        <div class="left">
            <h2 class="en">BLOG</h2>
            <h2>好きな話を記事にしています。</h2>
            <p>
                テキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプルテキスト入力サンプル。
            </p>
        </div>
        <div class="right">
            <button class="button default minimal blue">ブログ一覧を見る</button>
        </div>
    </div>
    <!--  -->
    <ul class="carouselWrapper">
        <ul class="nav simple">
            <li class="prev">PREV</li>
            <li class="next">NEXT</li>
        </ul>
        <!-- With 4 items, just for testing -->
        <li>
            <h3 class="title">CATEGORY NAME</h3>
            <p class="details">
                ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
            </p>
        </li>
        <li>
            <h3 class="title">CATEGORY NAME</h3>
            <p class="details">
                ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
            </p>
        </li>
        <li>
            <h3 class="title">CATEGORY NAME</h3>
            <p class="details">
                ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
            </p>
        </li>
        <li>
            <h3 class="title">CATEGORY NAME</h3>
            <p class="details">
                ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキスト入力ブログテキ…
            </p>
        </li>
    </ul>
</section>