<div id="sidebar">
    <ul class="minimal">
        <li>
            <a href="#aboutUs" title="#" onclick="toggleSidebar()">
                <strong>私たちとは</strong>
                ABOUT US
            </a>
        </li>
        <li class="subMenu">
            <a onclick="toggleSidebar()" title="#">
                <strong>サービス</strong>
                SERVICE
            </a>
        </li>
        <li>
            <a href="#works" title="#">
                <strong>制作実績</strong>
                WORKS
            </a>
        </li>
        <li>
            <a href="#flow" title="#">
                <strong>制作の流れ</strong>
                FLOW
            </a>
        </li>
        <li class="subMenu">
            <a href="#company" title="#" onclick="">
                <strong>会社概要</strong>
                COMPANY
            </a>
        </li>
        <li>
            <a href="#voice" title="#">
                <strong>お客様の声</strong>
                VOICE
            </a>
        </li>
        <li>
            <a href="#blog" title="#">
                <strong>ブログ</strong>
                BLOG
            </a>
        </li>
        <li>
            <a href="#price">
                <strong>料金</strong>
                PRICE
            </a>
        </li>
        <li>
            <a href="#faq">
                <strong>よくある質問</strong>
                FAQ
            </a>
        </li>
        <li>
            <a href="#news">
                <strong>お知らせ</strong>
                NEWS
            </a>
        </li>
    </ul>
    <hr>
    <button class="button blue">お問い合わせ・無料見積もり</button>
    <button class="button default icon telephone">052-414-7327</button>
    <p>
        ※受付時間は9:00〜18:00<br/ >
        定休日は土日（年末年始を除く）
    </p>
</div>