<section id="works">
    <h2 class="en center">WORKS</h2>
    <h2 class="center">
        お客さまの成功は<br />
        僕らの自慢です
    </h2>
    <p class="center">
        ホームページ制作など、さまざまなお客様のネットビジネスのお手伝いをさせて頂いております<br />
        お客様とともに築いてきた実績、それが私たちの誇りです。
    </p>
    <ul class="minimal inline carouselWrapper">
        <ul class="nav simple">
            <li class="prev">PREV</li>
            <li class="next">NEXT</li>
        </ul>
        <!-- With 4 items, just for testing -->
        <li><div class="wrapper">
            <div class="image"></div>
            <p>EXAMPLE</p>
        </div></li>
        <li><div class="wrapper">
            <div class="image"></div>
            <p>EXAMPLE</p>
        </div></li>
        <li><div class="wrapper">
            <div class="image"></div>
            <p>EXAMPLE</p>
        </div></li>
        <li><div class="wrapper">
            <div class="image"></div>
            <p>EXAMPLE</p>
        </div></li>
    </ul>
    <button class="button default minimal center">
        ボタンテキスト
    </button>
</section>